@import 'Colors';
@import 'Dimens';
@import 'Grid';
@import 'FeaturedItem';
@import 'ListItem';

html, body {
  font-family: 'Space Grotesk', sans-serif;
  background-color: $colorPrimary;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  line-height: $lineHeight;
  width: 100%;

  #root {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a:link {
    text-decoration: none;
    color: inherit;
  }
  
  a:visited {
    text-decoration: none;
    color: inherit;
  }
  
  a:hover {
    text-decoration: none;
    color: inherit;
  }
  
  a:active {
    text-decoration: none;
    color: inherit;
  }

  .isLast {
    margin-bottom: 0;
  }

}
